<div class="d-flex">
  <div class="container">
    <div class="mt-2 container d-flex align-content-center justify-content-between text-center">
      <h1>{{event.title}}</h1>
      <a (click)="delete(event.id)" *ngIf="isLoggedIn && hasRole('ROLE_ORGANIZER')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ff0000" class="bi bi-trash"
             viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </a>
    </div>
    <div class="container">
      <h5>Description:</h5>
      <p>{{event.description}}</p>
    </div>
    <div class="container">
      <h5>Event is starting on:</h5>
      <p>{{event.startingFrom | date}}</p>
    </div>
    <div class="container">
      <h5>Event ends on: </h5>
      <p>{{event.endingOn | date}}</p>
    </div>
    <div class="container" *ngIf="isLoggedIn && hasRole('ROLE_ORGANIZER')">
      <a (click)="updateLink(event.id)" class="btn btn-warning">Update</a>
    </div>
    <div *ngIf="isLoggedIn" class="mt-2">
      <a (click)="subscribe()" class="btn btn-success" *ngIf="!isSubscribed">Subscribe</a>
      <a (click)="unSubscribe()" class="btn btn-warning" *ngIf="isSubscribed">Unsubscribe</a>
    </div>
  </div>
  <aside class="container">
    <h1>Subscribed Users: </h1>
    <div *ngFor="let user of event.subscribedUsers">
      <p>{{user.username}}</p>
    </div>
  </aside>
</div>
<app-comment [eventId]="eventId"></app-comment>
<app-new-comment [eventId]="eventId"></app-new-comment>
