<div class="container mt-5 mb-5" *ngIf="isLoggedIn">
  <h3 class="text-center mb-2">Post new comment</h3>
  <form #f="ngForm"
        class="shadow p-3"
        (ngSubmit)="f.form.valid && onSubmit()">
    <div class="d-flex flex-column">
      <input type="text"
             class="mb-3 form-control"
             name="title"
             #titleModel="ngModel"
             [(ngModel)]="comment.title"
             placeholder="Title of comment"
             id="title">
      <textarea
        class="mb-3 form-control"
        name="comment"
        placeholder="Write your comment here..."
        #commentModel="ngModel"
        [(ngModel)]="comment.comment"
        id="comment"></textarea>
    </div>
    <button class="btn btn-primary mt-3">Comment</button>
  </form>
  <div *ngIf="isSuccessful" class="alert alert-success">comment was added.</div>
</div>
