<footer class="text-center text-lg-start bg-white text-muted">
  <section
    class="d-flex justify-content-start p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with me on social networks:</span>
    </div>
    <div class="d-flex">
      <a href="https://github.com/dtsornoi/events" target="_blank" class="text-reset ml-4 mr-4">
        <div class="github"></div>
      </a>
      <a href="https://www.linkedin.com/in/dmitri-t%C5%A1orn%C3%B5i/" target="_blank" class="text-reset">
        <div class="linkedin"></div>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Events By D
          </h6>
          <p>
            This website allows the organizers to enter events and collect entries.
            Every registered user can sign up and search for events as also to leave comments.
            Unregistered users are able to see events and their description.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Technologies Used
          </h6>
          <p>
            <a href="https://spring.io/" class="text-reset" target="_blank">Spring Boot</a>
          </p>
          <p>
            <a href="https://angular.io/" class="text-reset" target="_blank">Angular</a>
          </p>
          <p>
            <a target="_blank"
               href="https://www.mongodb.com/cloud/atlas/lp/try2?utm_source=google&utm_campaign=gs_emea_estonia_search_core_brand_atlas_desktop&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=12212624395&gclid=CjwKCAjwtJ2FBhAuEiwAIKu19lGuV-X9_5trNrGH5omAi1AZOiBV3GBe98zRIqGSL_5GNJ3XSdFeYRoCZ9oQAvD_BwE"
               class="text-reset">MongoDB</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">Dmitri Tšornõi</a>
  </div>
</footer>
