<form (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isSuccessful"
      #f="ngForm"
      class="container-sm">
  <h3 class="text-center text-warning">Update Event: {{oldEvent.title}}</h3>
  <div class="shadow-lg p-5 m-3 rounded">
    <div class="form-group">
      <label for="title" class="form-label text-secondary">Title</label>
      <input type="text" id="title" name="title"
             [(ngModel)]="oldEvent.title"
             required
             minlength="6" maxlength="20"
             #title="ngModel"
             class="form-control">
      <div *ngIf="f.submitted && title.invalid" class="alert alert-warning">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Title must be min 6 characters</div>
        <div *ngIf="title.errors.maxlength">Title must be max 20 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="text-secondary">Description</label>
      <textarea name="description" class="form-control"
                required
                minlength="10"
                maxlength="150"
                [(ngModel)]="oldEvent.description"
                #description="ngModel"
                id="description">
      </textarea>
      <div *ngIf="f.submitted && description.invalid" class="alert alert-warning">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Title must be min 10 characters</div>
        <div *ngIf="title.errors.maxlength">Title must be max 150 characters</div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <label for="startsOn" class="text-secondary">Starting Date</label>
      <input type="date" [(ngModel)]="oldEvent.startingFrom" #startsOn="ngModel"
             placeholder="{{oldEvent.startingFrom | date:'yyyy-MM-dd'}}"
             class="form-control" id="startsOn" name="startsOn">
    </div>
    <div class="mt-2 mb-2 d-flex flex-column">
      <label for="endsOn" class="text-secondary">Ending Date</label>
      <input type="date" [(ngModel)]="oldEvent.endingOn" #endingOn="ngModel"
             placeholder="{{oldEvent.endingOn | date:'yyyy-MM-dd'}}"
             class="form-control" id="endsOn" name="endsOn">
    </div>
    <div class="d-flex justify-content-sm-between mobile_buttons">
      <button class="btn btn-primary" type="submit">Update</button>
      <button class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>

<div class="alert alert-success" *ngIf="isSuccessful">
  <p>Event was saved Successfully</p>
  <a routerLink="/home" class="btn btn-success">Return Home</a>
</div>
