<form (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isSuccessful"
      #f="ngForm"
      class="container-sm">
  <div class="border border-4 rounded p-4 border-dark m-lg-5">
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" name="title"
             [(ngModel)]="events.title"
             required
             minlength="3" maxlength="20"
             #title="ngModel"
             class="form-control">
      <div *ngIf="f.submitted && title.invalid" class="alert alert-warning">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Title must be min 3 characters</div>
        <div *ngIf="title.errors.maxlength">Title must be max 20 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" class="form-control"
                required
                minlength="10"
                maxlength="100"
                [(ngModel)]="events.description"
                #description="ngModel"
                id="description">
      </textarea>
      <div *ngIf="f.submitted && description.invalid" class="alert alert-warning">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Title must be min 10 characters</div>
        <div *ngIf="title.errors.maxlength">Title must be max 100 characters</div>
      </div>
    </div>
    <div class="form-group d-flex justify-content-center">
      <div>
        <label for="startsOn">Starting Date</label>
        <div class="input-group">
          <input [(ngModel)]="events.startingFrom" #startsOn="ngModel"
                 type="date"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 id="startsOn" name="startsOn">
        </div>
      </div>
      <div class="ml-4">
        <label for="endsOn">Ending Date</label>
        <div class="input-group">
          <input [(ngModel)]="events.endingOn" #endsOn="ngModel"
                 type="date"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 id="endsOn" name="startsOn">
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>
</form>

<div class="alert alert-success" *ngIf="isSuccessful">
  <p>Event was saved Successfully</p>
</div>
