<form (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isSuccessful"
      #f="ngForm"
      class="container-sm">
  <h3 class="text-center text-warning">Add new Event</h3>
  <div class="shadow-lg p-5 m-3 rounded">
    <div class="form-group">
      <input type="text" id="title" name="title"
             [(ngModel)]="events.title"
             required
             placeholder="Title"
             minlength="6" maxlength="20"
             #title="ngModel"
             class="form-control">
      <div *ngIf="f.submitted && title.invalid" class="alert alert-warning">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Title must be min 6 characters</div>
        <div *ngIf="title.errors.maxlength">Title must be max 20 characters</div>
      </div>
    </div>
    <div class="form-group">
      <textarea name="description" class="form-control"
                placeholder="Description"
                required
                minlength="10"
                maxlength="150"
                [(ngModel)]="events.description"
                #description="ngModel"
                id="description">
      </textarea>
      <div *ngIf="f.submitted && description.invalid" class="alert alert-warning">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Title must be min 10 characters</div>
        <div *ngIf="title.errors.maxlength">Title must be max 150 characters</div>
      </div>
    </div>
    <div class="form-group d-flex justify-content-center">
      <div>
        <label for="startsOn">Starting Date</label>
        <div class="input-group">
          <input [(ngModel)]="events.startingFrom" #startsOn="ngModel"
                 type="date"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 id="startsOn" name="startsOn">
        </div>
      </div>
      <div class="ml-4">
        <label for="endsOn">Ending Date</label>
        <div class="input-group">
          <input [(ngModel)]="events.endingOn" #endsOn="ngModel"
                 type="date"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 id="endsOn" name="startsOn">
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
    <div *ngIf="f.submitted && !isSuccessful" class="alert alert-danger mt-3">
      <p>Event was not saved!</p>
      <i class="text-danger">Error: {{errorMessage}}</i>
    </div>
  </div>

</form>
<div class="alert alert-success" *ngIf="isSuccessful">
  <p>Event was saved Successfully</p>
</div>
