<div class="mt-2">
  <div class="form-group container">
    <input type="email" class="form-control shadow-lg p=3 mb-5 bg-white rounded" id="search-text" aria-describedby="search-text"
           [(ngModel)]="searchText" placeholder="Enter title to search"
           autofocus>
  </div>
  <div class="container custom-grid">
    <div *ngFor="let event of content | filter: searchText" class="shadow-sm p-3 bg-white rounded m-3">
      <div class="">
        <h3 class="card-title">
          <a routerLink="/event/{{event.id}}">{{event.title}}</a>
        </h3>
        <p class="">{{converter(event.description, 0, 50) + "..."}}</p>
        <p>{{event.startingFrom | date:'dd MMMM yyyy'}} - {{event.endingOn | date:'dd MMMM yyyy'}}</p>
        <i>Posted by {{ifNullShowUndefined(event.user.username)}}</i>
      </div>
    </div>
  </div>
</div>
